.black{
    background-color: black;
    color: white;
}
.black button{
    background-color: dimgray;
}
.light{
    background-color: gray;
    color: black;
}
.light button{
    background-color: black;
}